doctype html
html
  head
    title= title

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  script(src="/javascripts/plugins.js")
  script(src="/bundle.js")
  script(src="/javascripts/script.js")
